@model IEnumerable<MiKuVer2.Model.Geschaeftspartner>


<table>
    <tr>
        <th style="width:300px; text-align:left">
            Name
        </th>
        <th style="width:100px; text-align:right">
            Personal-Nr.
        </th>
    </tr>
    @foreach (var item in Model) {
    <tr style="border-bottom:solid; height:40px;">
        @*<td>
            @Html.DisplayFor(modelItem => item.Eintrittsdatum)
        </td>*@
        <td style="width:300px; text-align:left">
           @Html.ActionLink(item.Vorname+" " + item.Nachname, "Details", new { id = item.Id })
        </td>
        <td style="width:100px; text-align:right">
           @Html.DisplayFor(modelItem => item.MitarbeiterNummer)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Geschlecht)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strasse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hausnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLZ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>