@model MiKuVer2.Model.Geschaeftspartner

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Neuen Gesch&auml;ftspartner anlegen</legend>
     
     <form action="">
      <table style="margin-top:15px;">
        <tr>
            <td>
                <div id="vorname_anlegen1" class="editor-label">
                     @Html.LabelFor(model => model.Vorname)*
                </div>
            </td>
            <td> 
                <div id="vorname_anlegen2" class="editor-field" >
                @Html.EditorFor(model => model.Vorname)
                @Html.ValidationMessageFor(model => model.Vorname)
                </div>
            </td>
            <td></td>
            <td>
            <div id="nachname_anlegen1" class="editor-label" >
            @Html.LabelFor(model => model.Nachname)*
            </div>
            </td>
            <td>
            <div id="nachname_anlegen2" class="editor-field" >
            @Html.EditorFor(model => model.Nachname)
            @Html.ValidationMessageFor(model => model.Nachname)
            </div>
            </td>
        </tr>
        
        <tr>
        <td>
        <div id="eintritt_anlegen1" class="editor-label" >
            @Html.LabelFor(model => model.Eintrittsdatum)*
        </div></td>
        <td><div id="eintritt_anlegen2" class="editor-field" >
            @Html.EditorFor(model => model.Eintrittsdatum)
            @Html.ValidationMessageFor(model => model.Eintrittsdatum)
        </div></td>
        </tr>
        <tr>
        <td><div id="geburtstag_anlegen1" class="editor-label" >
            @Html.LabelFor(model => model.Geburtstag)*
        </div></td>
        <td><div id="geburtstag_anlegen2" class="editor-field" >
            @Html.EditorFor(model => model.Geburtstag)
            @Html.ValidationMessageFor(model => model.Geburtstag)
        </div></td>
        <td></td>
        <td><div id="geschlecht_anlegen1" class="editor-label" >
            @Html.LabelFor(model => model.Geschlecht)*
        </div></td>
        <td><div id="geschlecht_anlegen2" class="editor-field" >
            @Html.EditorFor(model => model.Geschlecht)
            @Html.ValidationMessageFor(model => model.Geschlecht)
        </div></td>
        </tr>
        <tr>
        <td><div id="strasse_anlegen1" class="editor-label" >
            @Html.LabelFor(model => model.Strasse)*
        </div></td>
        <td><div id="strasse_anlegen2" class="editor-field" >
            @Html.EditorFor(model => model.Strasse)
            @Html.ValidationMessageFor(model => model.Strasse)
        </div></td>
        <td></td>
        <td><div id="hausnummer_anlegen1" class="editor-label" >
            @Html.LabelFor(model => model.Hausnummer)*
        </div></td>
        <td><div id="hausnummer_anlegen2" class="editor-field" >
            @Html.EditorFor(model => model.Hausnummer)
            @Html.ValidationMessageFor(model => model.Hausnummer)
        </div></td>
        </tr>
        <tr>
        <td><div id="ort_anlegen1" class="editor-label" >
            @Html.LabelFor(model => model.Ort)*
        </div></td>
        <td><div id="ort_anlegen2" class="editor-field" >
            @Html.EditorFor(model => model.Ort)
            @Html.ValidationMessageFor(model => model.Ort)
        </div></td>
        <td></td>
        <td><div id="plz_anlegen1" class="editor-label" >
            @Html.LabelFor(model => model.PLZ)*
        </div></td>
        <td><div id="plz_anlegen2" class="editor-field" >
            @Html.EditorFor(model => model.PLZ)
            @Html.ValidationMessageFor(model => model.PLZ)
        </div></td>
        </tr>
        <tr>
        <td><div id="telefon_anlegen1" class="editor-label" >
            @Html.LabelFor(model => model.Telefon)*
        </div></td>
        <td><div id="telefon_anlegen2" class="editor-field" >
            @Html.EditorFor(model => model.Telefon)
            @Html.ValidationMessageFor(model => model.Telefon)
        </div></td>
        <td></td>
         <td><div id="fax_anlegen1" class="editor-label" >
            @Html.LabelFor(model => model.Fax)
        </div></td>
        <td><div id="fax_anlegen2" class="editor-field" >
            @Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)
        </div></td>
        </tr>
        <tr>
        <td><div id="email_anlegen1" class="editor-label" >
            @Html.LabelFor(model => model.EMail)*
        </div></td>
        <td><div id="email_anlegen2" class="editor-field" >
            @Html.EditorFor(model => model.EMail)
            @Html.ValidationMessageFor(model => model.EMail)
        </div></td>
        </tr>
        <tr>
            <td><p style="font-style:italic; font-size:12px;">* Pflichtfelder</p></td>
        </tr>
   @* </table>
        <table style="position:relative; top:10px;">*@
            <tr>
                <td>
                    <input type="submit" value="Profil anlegen" />
                    
                </td>
                <td>
                <input type="reset" value="Abbrechen" />
                </td>
            </tr>
       @* </table>*@
    </form>
    </fieldset>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
