@model MiKuVer2.Model.Geschaeftspartner

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<fieldset>
	<legend>Gesch&auml;ftspartner Details</legend>
        <table style="margin-top:15px;">
            <tr>
                <td>
                   <p style="font-size:26px; font-weight:bolder;">@Html.DisplayFor(model => model.Vorname) @Html.DisplayFor(model => model.Nachname)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Personal-Nr.: @Html.DisplayFor(model => model.MitarbeiterNummer)</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <p >
	                   @Html.ActionLink("Geschäftspartner bearbeiten", "Edit", new { id=Model.Id })
	                   @* @Html.ActionLink("Back to List", "Index")*@
                    </p>
                </td>
            </tr>
        </table>
        <hr />
        <table style="margin-top:15px;">
        <tr>
            <td>
                <div class="display-label">
                    Eintrittsdatum:
                </div>
            </td>
	        <td>
                <div class="display-field">
		            @Html.DisplayFor(model => model.Eintrittsdatum)
	            </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Geschlecht:
                    </div>
            </td>
            <td>
                <div class="display-field">
		            @{
			            if (Model.Geschlecht == true)
			            {
				            @: m&aumlnnlich   
			            }
			            else
			            {
				            @: weiblich 
			            }
		            }
	            </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Geburtstag:
                </div>
	        </td>
            <td>
                <div class="display-field">
		            @Html.DisplayFor(model => model.Geburtstag)
	            </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    E-Mail:
                </div>
	        </td>
            <td>
                <div class="display-field">
		            @Html.DisplayFor(model => model.EMail)
	            </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="display-label">Telefon:</div>
	    </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.Telefon)
	    </div>
        </td>
        <td>
            <div class="display-label">Mobil-Nr.:</div>
	    </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.MobilNr)
	    </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="display-label">Fax:</div>
	    </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.Fax)
	    </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="display-label">Straße:</div>
        </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.Strasse) 
	</div>
        </td>
        <td>
        <div class="display-label">Hausnummer:</div>
	    </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.Hausnummer)
	    </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="display-label">PLZ:</div>
	    </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.PLZ)
	    </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="display-label">Ort:</div>
	    </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.Ort)
	    </div>
        </td>
        </tr>
        </table>
        <br />
        <hr />
        <table>
        <tr>
            <td>
                @Html.ActionLink("Direkte Kunden anzeigen", "Details", new { id = Model.Id, mode="Kunden" })
	        </td>
            <td> | </td>
            <td>
                 @Html.ActionLink("Geschäftspartner Anzeigen", "Details", new { id = Model.Id, mode = "gps" })
            </td>
            
        </tr>
        <tr>
            <td>
                <div class="display-field">
@*                    <table>
                         @foreach (var item in Model.Partner)
	                        {
	                        <tr>
		                        <td>
			                        @Html.ActionLink(item.Vorname+" " + item.Nachname, "Details", new { id = item.Id })
		                        </td>
	                        </tr>
	                        }
                    </table>*@
                </div>
            </td>
        </tr>
     </table>
     <div>
     	@{
            if (ViewBag.show == "_AlleKunden")
			{
                var kunden= new List<MiKuVer2.Model.Kunde>();
                kunden = ViewBag.kunden;
				Html.RenderPartial("_AlleKunden",kunden);   
            }
            else if (ViewBag.show == "_DirekteGP")
            {
                var gps = new List<MiKuVer2.Model.Geschaeftspartner>();
                gps = ViewBag.gps;
                Html.RenderPartial("_DirekteGP",gps);
            }
		}
     
     </div>	
	
   
</fieldset>
