@model MiKuVer2.Model.Geschaeftspartner

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<fieldset>
	<legend>Gesch&auml;ftspartner Details</legend>
    
    
    <table style="margin-top:15px;">
        <tr>
            <td>
               <p style="font-size:26px; font-weight:bolder;">@Html.DisplayFor(model => model.Vorname) @Html.DisplayFor(model => model.Nachname)</p>
            </td>
        </tr>
        <tr>
            <td>
                <p >
	               @Html.ActionLink("Geschäpartner bearbeiten", "Edit", new { id=Model.Id })
	               @* @Html.ActionLink("Back to List", "Index")*@
                </p>
 
            </td>
        </tr>
     </table>
     <hr />
     <div style="position:absolute; margin: 15px 0 0 400px; ">
        
     </div>
     <table style="margin-top:15px;">
     <tr>
     <td>
     <div class="display-label">Eintrittsdatum:</div>
     </td>
	 <td><div class="display-field">
		@Html.DisplayFor(model => model.Eintrittsdatum)
	 </div>
     </td>
     </tr>
     <tr>
            <td>
            <div class="display-label">Geschlecht:</div>
            </td>
            <td>
            <div class="display-field">
		@{
			if (Model.Geschlecht == true)
			{
				@: m&aumlnnlich   
			}
			else
			{
				@: weiblich 
			}
		}
	</div>
            </td>
        </tr>
        
        <tr>
        <td>
        <div class="display-label">Geburtstag:</div>
	
        </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.Geburtstag)
	    </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="display-label">E-Mail:</div>
	
        </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.EMail)
	    </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="display-label">Telefon:</div>
	    </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.Telefon)
	    </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="display-label">Fax:</div>
	    </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.Fax)
	    </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="display-label">Straße:</div>
        </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.Strasse) 
	</div>
        </td>
        <td>
        <div class="display-label">Hausnummer:</div>
	    </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.Hausnummer)
	    </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="display-label">PLZ:</div>
	    </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.PLZ)
	    </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="display-label">Ort:</div>
	    </td>
        <td>
        <div class="display-field">
		@Html.DisplayFor(model => model.Ort)
	    </div>
        </td>
        </tr>
        </table>
        <br />
        <hr />
        <table>
        <tr>
            <td>
                <div class="display-label">Direkte Kunden anzeigen</div>
	        </td>
            <td>
                <div class="display-label">Direkte Geschäftspartner anzeigen</div>
	        </td> 
        </tr>
        <tr>
            <td>
                <div class="display-field">
                    <table>
                         @foreach (var item in Model.Partner)
	                        {
	                        <tr>
		                        <td>
			                        @Html.ActionLink(item.Vorname+" " + item.Nachname, "Details", new { id = item.Id })
		                        </td>
	                        </tr>
	                        }
                    </table>
                </div>
            </td>
        </tr>
     </table>
     	
	
   
</fieldset>
