@model MiKuVer2.Model.Geschaeftspartner

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bearbeiten</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Geschäftspartner</legend>
        <form action="">
            <table style="margin-top:15px;">
                <tr>
                    <td>
                        <div class="editor-label">
                            Personal-Nr.:
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.MitarbeiterNummer)
                            @Html.ValidationMessageFor(model => model.MitarbeiterNummer)
                        </div>
                    </td>
                </tr
                <tr>
                    <td>
                        <div class="editor-label">
                            Eintrittsdatum:
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Eintrittsdatum)
                            @Html.ValidationMessageFor(model => model.Eintrittsdatum)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            Vorname:
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Vorname)
                            @Html.ValidationMessageFor(model => model.Vorname)
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            Nachname:
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Nachname)
                            @Html.ValidationMessageFor(model => model.Nachname)
                        </div>
                    </td>
                </tr>
        <tr>
            <td>
                <div class="editor-label">
                    Geburtstag:
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Geburtstag)
                    @Html.ValidationMessageFor(model => model.Geburtstag)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    Geschlecht:
                </div>
            </td>
            <td>
                <div class="editor-field">
                                @Html.DropDownList("Geschlecht", 
                                new List<SelectListItem>()
                                {
                                    {
                                        new SelectListItem()
                                            {
                                                Text="Männlich",
                                                Value="true",
                                                Selected = true
                                            }
                                    },
                                    { 
                                        new SelectListItem(){
                                            Text = "Weiblich",
                                            Value = "false"
                                        }
                                    }
                                    
                                })
                    @Html.ValidationMessageFor(model => model.Geschlecht)
                </div>
            </td>   
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    E-Mail:
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EMail)
                    @Html.ValidationMessageFor(model => model.EMail)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    Telefon:
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Telefon)
                    @Html.ValidationMessageFor(model => model.Telefon)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    Fax:
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Fax)
                    @Html.ValidationMessageFor(model => model.Fax)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Mobil-Nr.:
            </td>
            <td>
                @Html.EditorFor(model => model.MobilNr)
                @Html.ValidationMessageFor(model => model.MobilNr)
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    Straße:
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Strasse)
                    @Html.ValidationMessageFor(model => model.Strasse)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    Hausnummer:
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Hausnummer)
                    @Html.ValidationMessageFor(model => model.Hausnummer)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    PLZ:
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PLZ)
                    @Html.ValidationMessageFor(model => model.PLZ)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    Ort:
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Ort)
                    @Html.ValidationMessageFor(model => model.Ort)
                </div>
            </td>
        </tr>
        </table>        
        <table style="margin-top:15px;">
            <tr>
                <td>
                    <input type="submit" value="Speichern" />
                </td>
                <td>
                    <input type="reset" value="Abbrechen" onclick="history.go(-1);return false;" />
                </td>
            </tr>
        </table>
        </form>
    </fieldset>
}
@*
<div>
    @Html.ActionLink("Zurück zur Liste", "Index")
</div>*@
