@model IEnumerable<MiKuVer2.Model.Kunde>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kunden</h2>

<table>
    <tr>
        @*<td>@Html.ActionLink("Neues Unternehmen anlegen", "Create")</td>
        <td> | </td>*@
        <td>@Html.ActionLink("Neuen Kunden anlegen", "CreateKunde")</td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td>@Html.ActionLink("Direkte Kunden", "Index", "Kunden", new { gp = "1", mode = "dgp" }, null)</td>
        <td> | </td>
        <td>@Html.ActionLink("Alle Kunden", "Index", "Kunden", new { gp = "1", mode = "agp" }, null)</td>
    </tr>
</table>
<br />
<table class="kunde_index">
    <tr>
        <th style="width:200px;">
            Kunde
        </th>
        <th style="width:100px;">
            Kunden-Nr.
        </th>
        <th style="width:300px;">
            Kontakt
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
       @* <td>
            @Html.DisplayFor(modelItem => item.KundeSeit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BereitsKunde)
        </td>*@
        <td style="width:200px;">
            @Html.ActionLink(item.Vorname+ " " + item.Nachname, "Details/" + item.Id, "Kunden")
       
        </td>
        <td style="width:100px;">
            @Html.DisplayFor(modelItem => item.KundenNummer)
        </td>
        <td style="width:300px;">
            <ul style="list-style-type:none;  text-align:left; margin-left:-40px;">
                <li>@Html.DisplayFor(modelItem => item.Telefon)</li>
                <li>@Html.DisplayFor(modelItem => item.EMail)</li>
            </ul>
        </td>
        
        @*<td>
            @Html.DisplayFor(modelItem => item.Geburtstag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geschlecht)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strasse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hausnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLZ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
